@model OrderFood.Models.OrderTransaction

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OrderTransaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FoodId" class="control-label"></label>
                <input asp-for="FoodId" class="form-control" />
                <span asp-validation-for="FoodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qty" class="control-label"></label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTotalPrice" class="control-label"></label>
                <input asp-for="SubTotalPrice" class="form-control" />
                <span asp-validation-for="SubTotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
